extends page

block content
  div.content
    br
    div.cards
      for project in projects
        a(href='/project/' + project.id)
          div.card
            h3= project.name
            p= project.description
            if project.image
              img.card-image(src=project.image)