- var siteAddress = 'lepidora.com'

doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block meta
    block scripts
  body
    block header
    block content
    block footer