.content {
	position: relative;
	width: 80%;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	
	background-color: #fff;
}

$cardWidth: 240px;

.card {
	
	position: relative;
	
	width: $cardWidth;
	
	background-color: #eee;
	
    margin-top: 10px;	
	margin-bottom: 10px;
	
	text-align: center;
	
	img {
	   background-color: #bbb;
	}
	
	@include hover-shadow;
	/*@include vertical-shadow(2px, 3px);*/
}

.column {
	
	display: flex;
	flex-direction: column;
}

/*.card::after  {
	content: '';
	position: absolute;
	
	z-index: 50;
	
	width: 100%;
	height: 100%; 
	top: 0;
    left: 0;
    
	@include vertical-shadow(5px, 5px);
    opacity: 0;
	@include transition(opacity 0.25s ease-in-out);
}

.card:hover::after {
	opacity: 1;
}*/