@import 'ceryx/ceryx.scss';

/*@import 'base';*/
@import 'mixins';

@import url('https://fonts.googleapis.com/css?family=Raleway');

$primaryFont: 'Raleway', sans-serif;

$primaryColour: #eeffcc;

/** {
	font-family: $primaryFont;
}*/

html {
	height: 100%;
}

body {
    height: 100%;
}

@import 'header';
@import 'content';
@import 'footer';