@import 'ceryx/ceryx.scss';

/*@import 'base';*/
@import 'mixins';

@import url('https://fonts.googleapis.com/css?family=Raleway');

$primaryFont: 'Raleway', sans-serif;

$primaryColour: #eeffcc;

/** {
	font-family: $primaryFont;
}*/

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@import 'header';
@import 'content';
@import 'footer';